In [8]:
import pandas as pd
import numpy as np

In [9]:
data = pd.read_csv('../Downloads/harddrive.csv')

In [10]:
data.describe()

,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,smart_3_raw,smart_4_normalized,smart_4_raw,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
count,3.179295e+06,3.179295e+06,3.179295e+06,3.179295e+06,1.259118e+06,1.259118e+06,3.179295e+06,3.179295e+06,3.179295e+06,3.179295e+06,...,2835.0,2.835000e+03,2835.000000,2.835000e+03,2835.000000,2.835000e+03,7935.000000,7935.0,0.0,0.0
mean,1.849552e-311,6.762506e-05,1.121816e+02,6.856751e+07,1.287652e+02,7.491735e+01,1.052967e+02,3.655617e+02,9.999833e+01,1.353609e+01,...,1.0,1.020068e+08,6.412698,1.948479e+08,19.822222,8.940533e+07,116.131065,0.0,NaN,NaN
std,0.000000e+00,8.223169e-03,1.871325e+01,8.002785e+07,2.488450e+01,4.557482e+01,1.870145e+01,1.089088e+03,1.412369e-01,1.498674e+02,...,0.0,7.223558e+07,22.510855,1.462246e+08,38.854298,6.703960e+07,36.784042,0.0,NaN,NaN
min,3.953828e-313,0.000000e+00,3.300000e+01,0.000000e+00,1.000000e+02,0.000000e+00,7.000000e+01,0.000000e+00,7.400000e+01,1.000000e+00,...,1.0,2.452300e+04,1.000000,6.600000e+01,1.000000,0.000000e+00,100.000000,0.0,NaN,NaN
25%,1.976651e-311,0.000000e+00,1.000000e+02,0.000000e+00,1.310000e+02,0.000000e+00,9.400000e+01,0.000000e+00,1.000000e+02,4.000000e+00,...,1.0,1.462176e+07,1.000000,1.722997e+07,1.000000,7.881220e+06,100.000000,0.0,NaN,NaN
50%,1.976651e-311,0.000000e+00,1.120000e+02,2.984580e+07,1.330000e+02,1.000000e+02,9.800000e+01,0.000000e+00,1.000000e+02,7.000000e+00,...,1.0,1.412617e+08,1.000000,2.741461e+08,1.000000,1.254753e+08,100.000000,0.0,NaN,NaN
75%,1.976651e-311,0.000000e+00,1.170000e+02,1.343214e+08,1.340000e+02,1.040000e+02,1.140000e+02,5.450000e+02,1.000000e+02,1.500000e+01,...,1.0,1.667429e+08,1.000000,3.278856e+08,1.000000,1.500801e+08,100.000000,0.0,NaN,NaN
max,3.953298e-311,1.000000e+00,2.000000e+02,1.916485e+09,2.520000e+02,1.960000e+02,2.530000e+02,9.708000e+03,1.000000e+02,2.667400e+04,...,1.0,1.992453e+08,100.000000,3.862757e+08,100.000000,1.782887e+08,200.000000,0.0,NaN,NaN

In [11]:
data.head()

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2016-01-01,MJ0351YNG9Z0XA,Hitachi HDS5C3030ALA630,1.482490e-311,0,100,0,135.0,108.0,143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01,Z305B2QN,ST4000DM000,1.976651e-311,0,113,54551400,NaN,NaN,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01,MJ0351YNG9Z7LA,Hitachi HDS5C3030ALA630,1.482490e-311,0,100,0,136.0,104.0,124,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01,MJ0351YNGABYAA,Hitachi HDS5C3030ALA630,1.482490e-311,0,100,0,136.0,104.0,137,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01,WD-WMC4N2899475,WDC WD30EFRX,1.482490e-311,0,200,0,NaN,NaN,175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data.shape

(3179295, 95)

In [17]:
data.dropna(axis=1,how='all',inplace=True)

In [18]:
data.head()

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_242_normalized,smart_242_raw,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw
0,2016-01-01,MJ0351YNG9Z0XA,Hitachi HDS5C3030ALA630,1.482490e-311,0,100,0,135.0,108.0,143,...,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01,Z305B2QN,ST4000DM000,1.976651e-311,0,113,54551400,NaN,NaN,96,...,100.0,1.316882e-315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01,MJ0351YNG9Z7LA,Hitachi HDS5C3030ALA630,1.482490e-311,0,100,0,136.0,104.0,124,...,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01,MJ0351YNGABYAA,Hitachi HDS5C3030ALA630,1.482490e-311,0,100,0,136.0,104.0,137,...,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01,WD-WMC4N2899475,WDC WD30EFRX,1.482490e-311,0,200,0,NaN,NaN,175,...,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
data.shape

(3179295, 91)

In [20]:
hd_fail = data[data['failure']==1]

In [22]:
hd_fail.shape

(215, 91)

In [29]:
hd_fail['serial_number'].value_counts().shape

(205,)

In [24]:
hd_good = data[data['failure']==0]
hd_good.shape

(3179080, 91)

In [27]:
data['model'].value_counts().shape

(69,)

In [28]:
data['serial_number'].value_counts().shape

(65993,)

In [31]:
data.groupby('model')['failure'].sum().sort_values(ascending=False)

model
ST4000DM000                139
ST320LT007                  15
Hitachi HDS722020ALA330     13
WDC WD800AAJS                6
WDC WD30EFRX                 6
                          ...
WDC WD10EADX                 0
WDC WD10EACS                 0
WDC WD800JD                  0
TOSHIBA MD04ABA400V          0
HGST HDS5C4040ALE630         0
Name: failure, Length: 69, dtype: int64

In [32]:
st4=data[data['model']=='ST4000DM000']

In [33]:
st4.shape

(1681473, 91)

In [34]:
st4.head()

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_242_normalized,smart_242_raw,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw
1,2016-01-01,Z305B2QN,ST4000DM000,1.976651e-311,0,113,54551400,NaN,NaN,96,...,100.0,1.316882e-315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2016-01-01,S300Z6K9,ST4000DM000,1.976651e-311,0,107,13985080,NaN,NaN,97,...,100.0,1.761059e-314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2016-01-01,S300Z6K8,ST4000DM000,1.976651e-311,0,116,109242152,NaN,NaN,97,...,100.0,2.551732e-314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2016-01-01,Z302PGH8,ST4000DM000,1.976651e-311,0,112,46112000,NaN,NaN,92,...,100.0,2.356922e-313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2016-01-01,Z3023VGH,ST4000DM000,1.976651e-311,0,116,117245752,NaN,NaN,93,...,100.0,6.064623e-313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
st4_fail=st4[st4['failure']==1]

In [36]:
st4_fail.shape

(139, 91)

In [38]:
st4_fail['serial_number'].value_counts().shape

(131,)